*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:#3399ff;
}
#container{
    position: relative;
}
.conected{
    position: relative;
    flex-direction: column;
    transform: translateY(8rem);

    font-family: Open sans-serif, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:#ffffff;
    text-align: center;
}

.form{
    max-width: 360px;
    height: 421px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    
    font-family: Open sans-serif, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;   
    text-align: center;
    color:#777777;

    margin: auto;
    margin-top: 20px;
}
p{
    font-size: 26px;
    margin-bottom: 100px;
    color: #afafb1 ;
}
input:not([type="checkbox"]){
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    padding: 15px;
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    margin-bottom: 15px;
    top: 100%;
    font-size: 18px;

}
input::placeholder{
    color: #afafb1;
}
a{
    text-decoration: none;
    color: 	#afafb1;
}
.form-group-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}
.form-group-flex label{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

input[type="checkbox"]{
    content: "";
    display: block;
    width: 13px;
    height: 13px;
}
button{
    border-radius: 10px;
    border: none;  
    background-color: #2ecc71;
    color: #ffffff;

    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 15px;
    border-radius: 4px;
}
button:hover{
    background-color: #20aa40;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
}
.powered{
    text-align: center;
    width: 288px;
    margin: 25px auto 0;
    display: block;
    
    font-family: Open sans-serif, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#ffffff;
    text-align: center;
}